<header>
	<nav class="navbar">
		<div class="container">
			<p class="brand-title">Meal Planning</p>
			<div class="navbar-navigation">
				<ul class="navbar-nav">
					<li class="navbar-item"><a class="navbar-link" href="{{ url_for('home') }}">Home</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>