* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.app-container {
  margin: 40px 32px;
}

header {
  background-color: #f2f2f2;
  padding: 20px 40px;
  text-align: center;
  
  .navbar {
    .container {
      display: flex;
      align-items: center;
      
      .brand-title {
        font-size: 1.5rem;
        font-weight: 700;
        margin-right: 100px;
        color: #3b3b3b;
      }
      
      .navbar-navigation {
        .navbar-nav {
          display: flex;
          list-style-type: none;
          gap: 60px;
          
          .navbar-item {
            .navbar-link {
              text-decoration: none;
              color: #3b3b3b;
              font-size: 1.2rem;
              font-weight: 500;
              transition: all 0.3s ease;
              
              &:hover {
                color: #5563f1;
              }
            }
          }
        }
      }
    }
  }
}

.home-container {
}