<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', path='css/styles.css') }}" rel="stylesheet">
	<title>{% block title %} Meal planning {% endblock %}</title>
</head>
<body>
{% include "header/header.html" %}
	<div class="app-container">
		{% block content %}
		{% endblock %}
	</div>
{% block footer %}
{% endblock %}
{% block scripts %}
{% endblock %}
</body>
</html>